


.centerContainer{
    border:1px solid black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden !important;
}

.progress{
    margin-bottom: 1rem;
    height: 3rem;
}




